# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production
.env.local

# Builds
dist/
build/
.next/
out/

# Foldere generate automat de aplicatie (vect_foldere din index.js)
backup/
temp/
logs/
fisiere_uploadate/
