<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Despre - Pixel Mania</title>
    <%- include('../fragmente/head.ejs') %>
</head>
<body>
    <%- include('../fragmente/header.ejs') %>
    <main>
        <h1>Despre Noi</h1>
        <p>Aici gasiti informatii despre echipa Pixel Mania.</p>
    </main>
    <%- include('../fragmente/footer.ejs') %>
</body>
</html>
