<footer id="subsol">
    <a id="link-top" href="#" data-tooltip="Înapoi la începutul paginii">
        <span class="link-top-arrow">&#129081;</span>
    </a>
    <address>
        Bulevardul Expoziției 2, Sector 1,<br />
        București, România<br />
        <a href="https://maps.google.com/?q=PB+Tower+Bucuresti">Deschide pe Google Maps</a><br />
        <iframe src="https://maps.google.com/maps?q=PB+Tower+Bucuresti&t=&z=15&ie=UTF8&iwloc=&output=embed" width="300"
            height="200" style="border:0; margin-top: 10px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe><br />
        E-mail: <a href="mailto:contact@consola-sh.ro">contact@consola-sh.ro</a><br />
        Telefon: <a href="tel:+40721234567">+40 721 234 567</a><br />
        WhatsApp: <a href="https://wa.me/40721234567">Trimite mesaj pe WhatsApp</a>
    </address>
    <p><small>Copyright &copy; <time datetime="2026-02-26">26 februarie 2026</time> Proiect Tehnici Web Pencea
            Flavius Andrei</small></p>
</footer>