<header>
    <h1>
        <i class="fa-solid fa-gamepad fa-static"></i>
        Pixel Mania
        <i class="fa-solid fa-gear fa-animat"></i>
    </h1>
    <p
        style="font-family:'Orbitron',sans-serif; font-size:0.85rem; letter-spacing:3px; color:rgba(160,160,220,0.7); text-transform:uppercase; margin-top:-10px;">
        Magazine de console second-hand</p>
    <img src="/resurse/logo.png" alt="sigla" style="height: 160px; width: auto;" />
    <nav>
        <label id="hamburger" for="ch-menu">&#9776; Meniu</label>
        <input type="checkbox" id="ch-menu">
        <ul class="meniu">
            <li>
                <a href="/#welcome" class="item-label" title="Acasă">
                    <i class="fa-solid fa-house icon-acasa"></i>
                    <span class="text-nav">Acasă</span>
                </a>
                <ul>
                    <li><a href="/#welcome"><i class="fa-solid fa-door-open"></i>&nbsp; Bine ați venit</a></li>
                    <li><a href="/#promotii"><i class="fa-solid fa-tags"></i>&nbsp; Promoții</a></li>
                    <li><a href="/#produse"><i class="fa-solid fa-gamepad"></i>&nbsp; Produse</a></li>
                    <li><a href="/#orar"><i class="fa-regular fa-clock"></i>&nbsp; Orar</a></li>
                    <li><a href="/#anunturi"><i class="fa-solid fa-bullhorn"></i>&nbsp; Anunțuri</a></li>
                    <li><a href="/#index-intrebari"><i class="fa-solid fa-circle-question"></i>&nbsp; Întrebări</a></li>
                    <li><a href="/#reparatii"><i class="fa-solid fa-screwdriver-wrench"></i>&nbsp; Restaurări</a></li>
                    <li><a href="/#subsol"><i class="fa-solid fa-address-book"></i>&nbsp; Contact</a></li>
                </ul>
            </li>
            <li>
                <span class="item-label">
                    <i class="fa-solid fa-images icon-nav"></i>
                    <span class="text-nav">Galerii</span>
                </span>
                <ul>
                    <li><a href="/galerie-statica"><i class="fa-solid fa-image"></i>&nbsp; Galerie Statică</a></li>
                    <li><a href="/galerie-dinamica"><i class="fa-solid fa-photo-film"></i>&nbsp; Galerie Dinamică</a></li>
                </ul>
            </li>
            <li>
                <a href="/produse" class="item-label" title="Produse">
                    <i class="fa-solid fa-box-open icon-nav"></i>
                    <span class="text-nav">Produse</span>
                </a>
            </li>
            <li>
                <a href="/inregistrare" class="item-label" title="Înregistrare">
                    <i class="fa-solid fa-user-plus icon-nav"></i>
                    <span class="text-nav">Înregistrare</span>
                </a>
            </li>
        </ul>
    </nav>
</header>