<header>
    <h1>
        <i class="fa-solid fa-gamepad fa-static"></i>
        Pixel Mania
        <i class="fa-solid fa-gear fa-animat"></i>
    </h1>
    <p
        style="font-family:'Orbitron',sans-serif; font-size:0.85rem; letter-spacing:3px; color:rgba(160,160,220,0.7); text-transform:uppercase; margin-top:-10px;">
        Magazine de console second-hand</p>
    <img src="/resurse/logo.png" alt="sigla" style="height: 160px; width: auto;" />
    <nav>
        <label id="hamburger" for="ch-menu">&#9776; Meniu</label>
        <input type="checkbox" id="ch-menu">
        <ul class="meniu">
            <li>Acasă
                <ul>
                    <li><a href="#welcome">Bine ați venit</a></li>
                    <li><a href="#promotii">Promoții</a></li>
                    <li><a href="#produse">Produse</a></li>
                    <li><a href="#orar">Orar</a></li>
                    <li><a href="#anunturi">Anunțuri</a></li>
                    <li><a href="#index-intrebari">Întrebări</a></li>
                    <li><a href="#reparatii">Restaurări</a></li>
                    <li><a href="#subsol">Contact</a></li>
                </ul>
            </li>
            <li>Produse</li>
            <li>Înregistrare</li>
        </ul>
    </nav>
</header>